*{
    margin: 0px;
    padding: 0px;
}
/*
#F9F9F9 - типо белый, для фона;
#000000 - текст, чисто черный;
#85C3FF - бледно-голубой, для элементво;


*/

body{
    width: 100%;
    height: 100%;
    background: #F9F9F9;
}
header{
    width: 100%;
    height: 50px;
    background: #85C3FF;
    color:#000000;

    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 0 0 0 10px;
}


.tasks{
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-task{
    width: 700px;
    min-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-task-icon{
    width: 100%;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.icon{
    min-width: 30px;
    height: 30px;
    font-size: 20px;

    background: none;
    border-radius: 5px;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5px 0 5px 0;
}
.icon:hover{
    background: #85C3FF;
    cursor: pointer;
}

.create-task-body{
    width: 100%;
    display: none;
    background: #85C3FF;
    border-radius: 5px;
    border: 1px solid #000000;
}
.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.create-task-title{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create-task-desc{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-input{
    width: 300px;
    min-height: 30px;

    border-radius: 5px;
    margin: 5px 0 0 0;

    border: 1px solid #000000;
    padding: 0 0 0 5px;
}
.text-input-desc{
    width: 350px;
    min-height: 70px;

    border-radius: 5px;
    margin: 5px 0 0 0;
    resize: none;

    border: 1px solid #000000;
    padding: 5px 0 0 5px;
}

.btn{
    width: 100px;
    height: 40px;

    margin: 5px 0 5px 0;

    border-radius: 5px;
    border: none;

    background: #000000;
    color: #F9F9F9;
}
.btn:hover{
    cursor: pointer;
    background: #F9F9F9;
    color: #000000;
    border: 1px solid #000000;
}


#tegs-select{
    width: 70px;
    height: 30px;

    border-radius: 5px;
    margin: 5px 0 0 0;
}



.btns{
    width: 90%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task{
    width: 600px;
    margin: 10px 0 10px 0;
    border-bottom: 2px solid #000000;
    padding: 5px;
}
.task h2{
    font-size: 20px;
}
.task p{
    font-size: 16px;
}

.task-title{
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    word-wrap: break-word;
}
.task-title h2{
    padding: 5px;
}
.task-desc{
    padding: 10px;
    word-wrap: break-word;
}
.task-teg{
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: end;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
.btn-inp-close{
    width: 25px;
    height: 25px;
    font-size: 18px;

    background: none;
    border-radius: 5px;
    border: 1px solid #000000;
}
.btn-inp-close:hover{
    background: #85C3FF;
    cursor: pointer;
}

.complete{
    text-decoration : line-through;
}

.choice0{
    border: 2px solid indigo;
    border-radius: 5px;
}
.choice1{
    border: 2px solid rgb(255, 242, 0);
    border-radius: 5px;
}


@media (max-width:720px){
    .tasks{
        width: 95%;
    }
    .create-task{
        width: 95%;
    }

    .task{
        width: 90%;
    }
}

@media (max-width:450px){
    .btns{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .create-task-title{
        width: 90%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create-task-desc{
        width: 90%;
    }
    .text-input{
        width: 90%;
        height: 30px;
    }

    .text-input-desc{
        width: 90%;
        height: 80px;
    }

    #tegs-select{
        width: 90px;
        height: 30px;
    }

    input[type='checkbox']{
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .btn-inp-close{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}